.container {
  display: grid;
  grid-template-rows: 20px 2fr 4fr 4fr;
  grid-gap: 10px;
  padding: 8px;
  background-color: lightgrey;
  border: solid black 1px;
  /* justify-items: center; */
  /* width: 100%; */
}

/* .container > div {
  padding: 0.5em;
} */

.row1 > p {
  border: solid black 1px;
  margin: auto;
}
.row1 {
  justify-content: center;
  padding: 0 !important;
}

.column1 {
  grid-template-rows: auto;
  background: papayawhip;
}

@media screen and (max-width: 1000px) {
  .column1 {
    display: inline-grid;
  }
}

.row2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 10px;
  background-color: lightyellow;
  border: solid black 1px;
}

.row2 div:nth-child(2) {
  justify-content: center;
  display: grid;
}

.row3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: lightgoldenrodyellow;
  border: solid black 2px;
}

.row3 div:nth-child(1) {
  width: 10em;
}

.row3 div:nth-child(2) {
  width: 15em;
}

.row4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: lightgoldenrodyellow;
  border: solid black 2px;
  padding: 0.5em;
  column-gap: 25px;
}

.row4 > div:nth-child(1) {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: 10px;
  background-color: yellow;
  width: 100%;
  border: solid black 1px;
  padding: 0.5em;
  /* justify-items: center; */
}
